# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environment
.venv/

# Distribution / packaging
dist/

# Vim backup
*~
.*~
..*~

# Test coverage files
.coverage
coverage.xml
.pytest_cache/
